@import 'src/assets/sass/styles';

:host {
  display: flex;
  width: 100%;
  background-color: $white-sand;
  border: 1px solid $gray-medium;
  padding: 10px;
  box-sizing: border-box;
}

.stats-container {
  width: 58px;
  float: none;
  text-align: center;
  margin: auto 10px;

  .stats {
    margin: 0 0 15px;
    width: 58px;

    .votes {
      margin-bottom: 10px;
    }
  }
}

.summary {
  flex: 1 auto;
  width: auto;
  float: none;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-word;

  .excerpt {
    padding-bottom: 8px;
  }

  .tags-user {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    .tags {
      display: flex;
      line-height: 18px;
      float: left;
      flex-wrap: wrap;

      .tag {
        background-color: $gray-french;
        margin-left: 4px;
        margin-bottom: 4px;
        padding: 4px;
      }
    }

    .user-container {
      width: 200px;
      line-height: 18px;
      margin-left: auto;
      flex-shrink: 0;

      .user-info {
        float: right;
      }
    }
  }
}
